.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.font-medium {
  --bs-body-font-size: 1rem; 
}

.font-small {
  --bs-body-font-size: 0.85rem;
}

.font-large {
  --bs-body-font-size: 1.25rem;
}