@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcjonalny styl paska przewijania dla sekcji historii */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.font-medium {
  --bs-body-font-size: 1rem; /* Standardowy rozmiar Bootstrap */
}

/* Mniejszy rozmiar */
.font-small {
  --bs-body-font-size: 0.85rem;
}

/* Większy rozmiar */
.font-large {
  --bs-body-font-size: 1.25rem;
}